html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: medium solid green;
  background-color: lightgreen;
  padding: 0 1em;
}

main {
  flex-grow: 1;
}

footer {
  border-top: medium solid green;
  background-color: lightgreen;
}

footer input {
  width: 100%;
  box-sizing: border-box;
}
