header {
  border-bottom: medium solid green;
  background-color: lightgreen;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  box-sizing: border-box;
}

main {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 25px;
  overflow: auto;
}

footer {
  border-top: medium solid green;
  background-color: lightgreen;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25px;
}

footer input {
  width: 100%;
  box-sizing: border-box;
}
