html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: medium solid green;
  background-color: lightgreen;
  padding: 0 1em;
}

main {
  flex-grow: 1;
}

.transcript {
  padding: 0 1em;
}

.transcript .nickname {
  font-weight: bold;
}

.transcript .nickname::after {
  content: ". ";
}

footer {
  border-top: medium solid green;
  background-color: lightgreen;
  display: flex;
}

footer form {
  width: 100%;
  display: flex;
  flex-direction: row;
}

footer #nickname,
footer #submit-button {
  flex-grow: 0;
}

footer input {
  flex-grow: 1;
  margin: 0.8em 0.5em;
  font-size: large;
}
